@media screen  and (max-width: 600px){
    .expirience-props-container{
        display:flex;
        flex-direction: column;
        margin-top: 15px;
    }    
    .expirience-container__item img{
        align-items: center;

    }
}
@media screen  and (min-width: 600px){
    .expirience-container__item{
        align-items: flex-start;

    }
}
.expirience-container{
    display:flex;
    font-family: 'Montserrat';
    width: 290px;

}
.expirience-container__item{
    display: flex;
    flex-direction: column;
    padding-left: 15px;

}
.expirience-container__item img{
margin-top: 10px;
width:250px; height:140px;
}
.expirience-container__item a{
    margin-top: 10px;
}
.container__item-stackContainer span{
    font-weight: bold;
    margin-right: 10px;
}

.container__item-stackContainer{
    display: flex;
    margin-top: 10px;
}

.expirience-props-container{
    display:flex;
    flex-direction: column;
}
.expirience-props-element__wrapper{
    display: flex
}
.container__item-linkContainer span{
        display: flex;
        font-weight: bold;
}
.container__item-linkContainer a{
    padding-left: 15px;

}
.container__item-linkContainer{
    display: flex;
    align-items: baseline


}
.container__item-nameContainer span{
    font-weight: bold;
    margin-right: 10px;
}

.container__item-nameContainer {
    display: flex;
    margin-top: 15px;
}

.expirience-props-element img{
    transition: all 1s ease-in-out;

}
.expirience-props-element:hover img {
    transform: scale(1.1,1.1)
}

.container__item-webContainer span{
    font-weight: bold;
}

.container__item-webContainer{
    margin-top: 10px;
}
