@media screen  and (max-width: 600px){
    .contacts-container{
        margin-top: 15px;
    }
}

.contacts{
    font-family: 'Montserrat';

}
.contacts-item{
    margin-top: 25px;
    
}
.contacts-item span{
    font-weight: bold;
    margin-right: 5px;
}
.first{
    margin-top: 0px;
}