.wrapper{
    margin-top: 20px;
    font-family: 'Montserrat';
    display:flex;
    flex-direction: column;
}
.container{
    margin-top: 2px;
    height:6px;
    background-color:#DCDCDC	;
    width: 200px;
  }
  
  .firstItem{
      
    height:6px;
    background-color:#5AA7DD;
  }
  .secondItem{
    
  }
.wrapperSkills{
    display:flex;
}
  .circle{
    width: 5px; 
    height: 5px;
    border-radius: 50%;
    background-color:#5AA7DD
  }
  .detailSkillsItem{
    font-family: 'Montserrat';
    margin-left: 7px;
    
  }
.detail-wrapper{
    margin-top: 35px;
}
  .wrapperSkills{
    margin-top: 7px;
  }
  .circle-container{
      margin-top: 5px;
  }