@media screen  and (min-width: 700px){
    .hobie-content{
        width: 500px;
    }    
}

.hobie-content{
    font-family: 'Montserrat';
    

}

.hobie-content h1{
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: black;
    color: white;
    width:fit-content;
}